   <launch>
     <node pkg="stage_ros" type="stageros" name="stageros" args="$(find chicken_game)/world/swarmlab_multiple_turtlebot.world" respawn="false" output="screen" />
     <node name="robot_0" pkg="chicken_game" type="stage_random_walk.py" args = "0D" output="screen" />
     <node name="robot_1" pkg="chicken_game" type="stage_random_walk.py"  args = "1D" output="screen" />
     <node name="robot_2" pkg="chicken_game" type="stage_random_walk.py"  args = "2D" output="screen" />
     <node name="robot_3" pkg="chicken_game" type="stage_random_walk.py" args = "3D" output="screen" />
     <node name="robot_4" pkg="chicken_game" type="stage_random_walk.py"  args = "4D" output="screen" />
     <node name="robot_5" pkg="chicken_game" type="stage_random_walk.py"  args = "5D" output="screen" />
     <node name="robot_6" pkg="chicken_game" type="stage_random_walk.py"  args = "6D" output="screen" />
     <node name="robot_7" pkg="chicken_game" type="stage_random_walk.py"  args = "7D" output="screen" />
     <node name="robot_8" pkg="chicken_game" type="stage_random_walk.py"  args = "8D" output="screen" />
     <node name="robot_9" pkg="chicken_game" type="stage_random_walk.py" args = "9D" output="screen" />
     <node name="robot_10" pkg="chicken_game" type="stage_random_walk.py"  args = "10D" output="screen" />
     <node name="robot_11" pkg="chicken_game" type="stage_random_walk.py"  args = "11C" output="screen" />
     <node name="chatter" pkg="chicken_game" type="talker.py" output="screen" />
   </launch>
